
<main class="main">
<app-screen line1={{this.line1}} line2={{this.line2}} id="screen"></app-screen>
<div class="section" id="numbers">
    <app-button value="1" (sendInput)="handleInput($event)"></app-button>
    <app-button value="2" (sendInput)="handleInput($event)"></app-button>
    <app-button value="3" (sendInput)="handleInput($event)"></app-button><br>
    <app-button value="4" (sendInput)="handleInput($event)"></app-button>
    <app-button value="5" (sendInput)="handleInput($event)"></app-button>
    <app-button value="6" (sendInput)="handleInput($event)"></app-button><br>
    <app-button value="7" (sendInput)="handleInput($event)"></app-button>
    <app-button value="8" (sendInput)="handleInput($event)"></app-button>
    <app-button value="9" (sendInput)="handleInput($event)"></app-button><br>
    <app-button value="0" (sendInput)="handleInput($event)"></app-button>
    <app-button value="." (sendInput)="handleInput($event)"></app-button>
</div>
    
<div class="section" id="ops">
    <app-button value="=" (sendInput)="handleInput($event)"></app-button><br>
    <app-button value="+" (sendInput)="handleInput($event)"></app-button><br>
    <app-button value="-" (sendInput)="handleInput($event)"></app-button><br>
    <app-button value="x" (sendInput)="handleInput($event)"></app-button><br>
    <app-button value="÷" (sendInput)="handleInput($event)"></app-button>
</div>

<div class="section" id="units">
    <app-button value="Lk" style="display:{{this.LkCrDisplay}};" (sendInput)="handleInput($event)"></app-button>
    <app-button value="Cr" style="display:{{this.LkCrDisplay}};" (sendInput)="handleInput($event)"></app-button>
    <app-button value="Mi" style="display:{{this.MiBiTrDisplay}};" (sendInput)="handleInput($event)"></app-button>
    <app-button value="Bi" style="display:{{this.MiBiTrDisplay}};" (sendInput)="handleInput($event)"></app-button>
    <app-button value="Tr" style="display:{{this.MiBiTrDisplay}};" (sendInput)="handleInput($event)"></app-button>
</div>

<div class="section" id="clear">
    <app-button value="CE" (sendInput)="handleInput($event)"></app-button>
    <app-button value="C" (sendInput)="handleInput($event)"></app-button>
    <!--<app-button value="X" (sendInput)="handleInput($event)"></app-button>-->
</div>

</main>



<router-outlet />
